<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rbac.mapper.EmployeeRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rbac.pojo.EmployeeRole">
        <id column="id" property="id" />
        <result column="employee_id" property="employeeId" />
        <result column="role_id" property="roleId" />
        <result column="is_delete" property="isDelete" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, employee_id, role_id, is_delete, gmt_create, gmt_modified
    </sql>

<!--    更新员工角色-->
    <insert id="insertEmployeeRole">
        INSERT INTO t_employee_role(employee_id, role_id) VALUES
        <foreach collection="ids" item="rid" separator=",">
            (#{employeeId}, #{rid})
        </foreach>
    </insert>
</mapper>
