<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rbac.mapper.OplogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rbac.pojo.Oplog">
        <id column="id" property="id" />
        <result column="operator" property="operator" />
        <result column="ip" property="ip" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="model" property="model" />
        <result column="result" property="result" />
        <result column="is_delete" property="isDelete" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, operator, ip, type, description, model, result, is_delete, gmt_create, gmt_modified
    </sql>

    <select id="getAllOplogs" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            t_oplog op
        WHERE
            op.is_delete = FALSE
        <if test="null!=oplog.model and ''!=oplog.model">
            AND op.model LIKE concat('%',#{oplog.model},'%')
        </if>
        <if test="null!=oplog.operator and ''!=oplog.operator">
            AND op.operator LIKE concat('%',#{oplog.operator},'%')
        </if>
        <if test="null!=oplog.type and ''!=oplog.type">
            AND op.type = #{oplog.type}
        </if>
        <if test="null!=oplog.result">
            AND op.result = #{oplog.result}
        </if>
        <if test="null!=operDateScope and 2==operDateScope.length">
            AND op.gmt_create BETWEEN #{operDateScope[0]} AND #{operDateScope[1]}
        </if>
        ORDER BY
            op.id
    </select>
</mapper>
