<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rbac.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rbac.pojo.Resource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="icon_cls" property="iconCls" />
        <result column="parent_id" property="parentId" />
        <result column="enabled" property="enabled" />
        <result column="is_delete" property="isDelete" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <resultMap id="Resources" type="com.example.rbac.pojo.Resource" extends="BaseResultMap">
        <collection property="children" ofType="com.example.rbac.pojo.Resource">
            <id column="id2" property="id"></id>
            <result column="name2" property="name" />
            <result column="type2" property="type" />
            <result column="url2" property="url" />
            <result column="path2" property="path" />
            <result column="component2" property="component" />
            <result column="icon_cls2" property="iconCls" />
            <result column="parent_id2" property="parentId" />
            <result column="enabled2" property="enabled" />
            <result column="is_delete2" property="isDelete" />
            <result column="gmt_create2" property="gmtCreate" />
            <result column="gmt_modified2" property="gmtModified" />
        </collection>
    </resultMap>

    <resultMap id="ResourcesWithRole" type="com.example.rbac.pojo.Resource" extends="BaseResultMap">
        <collection property="roles" ofType="com.example.rbac.pojo.Role">
            <id column="rid" property="id" />
            <result column="rname" property="name" />
            <result column="rname_zh" property="nameZh" />
            <result column="ris_delete" property="isDelete" />
            <result column="rgmt_create" property="gmtCreate" />
            <result column="rgmt_modified" property="gmtModified" />
        </collection>
    </resultMap>

    <resultMap id="AllResources" type="com.example.rbac.pojo.Resource" extends="BaseResultMap">
        <collection property="children" ofType="com.example.rbac.pojo.Resource"
            select="com.example.rbac.mapper.ResourceMapper.getAllResources" column="id">
        </collection>
    </resultMap>

    <resultMap id="AllResourcesResultMap" type="com.example.rbac.pojo.Resource" extends="BaseResultMap">
        <collection property="children" ofType="com.example.rbac.pojo.Resource"
                    select="com.example.rbac.mapper.ResourceMapper.getResources" column="id">
        </collection>
    </resultMap>

    <resultMap id="ParentResourceResultMap" type="com.example.rbac.pojo.Resource" extends="BaseResultMap">
        <association property="parent" javaType="com.example.rbac.pojo.Resource" column="parent_id"
            select="com.example.rbac.mapper.ResourceMapper.getParentResource">
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, url, path, component, icon_cls, parent_id, enabled, is_delete, gmt_create, gmt_modified
    </sql>

    <select id="getResourcesByAdminId" resultMap="Resources">
        SELECT DISTINCT
            re1.*,
            re2.id AS id2,
            re2.url AS url2,
            re2.path AS path2,
            re2.type AS type2,
            re2.component AS component2,
            re2.name AS name2,
            re2.icon_cls AS icon_cls2,
            re2.parent_id AS parent_id2,
            re2.enabled AS enabled2,
            re2.is_delete AS is_delete2,
            re2.gmt_create AS gmt_create2,
            re2.gmt_modified AS gmt_modified2
        FROM
            t_admin_role ar,
            t_role r,
            t_role_resource rr,
            t_resource re1,
            t_resource re2
        WHERE
            re1.id = re2.parent_id
        AND ar.role_id = r.id
        AND r.id = rr.role_id
        AND rr.resource_id = re2.id
        AND re2.enabled = TRUE
        AND re1.enabled = TRUE
        AND re2.is_delete = FALSE
        AND re2.is_delete = FALSE
        AND r.is_delete = FALSE
        AND re2.type != 2
        AND re1.type != -1
        AND ar.admin_id = #{adminId}
        ORDER BY
            re1.id, re2.id
    </select>

    <select id="getResourcesWithRole" resultMap="ResourcesWithRole">
        SELECT DISTINCT
            res.*, r.id AS rid,
            r.`name` AS rname,
            r.name_zh AS rname_zh,
            r.is_delete AS ris_delete,
            r.gmt_create AS rgmt_create,
            r.gmt_modified AS rgmt_modified
        FROM
            t_role r,
            t_role_resource rr,
            t_resource res
        WHERE
            r.id = rr.role_id
        AND rr.resource_id = res.id
        AND res.enabled = TRUE
        AND res.is_delete = FALSE
        AND r.is_delete = FALSE
        ORDER BY
            res.id
    </select>

    <select id="getActionsByUserId" resultMap="BaseResultMap">
        SELECT
            res.*
        FROM
            t_admin_role ar,
            t_role r,
            t_role_resource rr,
            t_resource res
        WHERE
            ar.role_id = r.id
        AND r.id = rr.role_id
        AND rr.resource_id = res.id
        AND res.enabled = TRUE
        AND res.is_delete = FALSE
        AND r.is_delete = FALSE
        AND res.type = 2
        AND ar.admin_id = #{userId}
        ORDER BY res.id
    </select>

    <select id="getAllResources" resultMap="AllResources">
        SELECT
            id, `name`,parent_id
        FROM t_resource res
        WHERE res.is_delete = FALSE
        AND res.enabled = TRUE
        AND res.parent_id = #{parentId}
        ORDER BY res.id
    </select>

<!--    获取每个资源的所有父级资源-->
    <select id="getParentResource" resultMap="ParentResourceResultMap">
        SELECT
            id, `name`, parent_id
        FROM t_resource res
        WHERE res.is_delete = FALSE
        AND res.enabled = TRUE
        <if test="null != parentId">
            AND res.id = #{parentId}
        </if>
        ORDER BY res.id
    </select>

    <select id="getResources" resultMap="AllResourcesResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM t_resource res
        WHERE res.is_delete = FALSE
        AND res.parent_id = #{parentId}
        ORDER BY res.id
    </select>

<!--    根据角色id获取对应的资源id-->
    <select id="getResIdsByRoleId" resultType="java.lang.Integer">
        SELECT
            res.id
        FROM
            t_role_resource rr,
            t_resource res
        WHERE
            rr.resource_id = res.id
        AND res.type = 2
        AND rr.role_id = #{rid}
        ORDER BY
            res.id
    </select>
</mapper>
