<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rbac.mapper.SalaryAdjustMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rbac.pojo.SalaryAdjust">
        <id column="id" property="id" />
        <result column="employee_id" property="employeeId" />
        <result column="as_date" property="asDate" />
        <result column="before_salary" property="beforeSalary" />
        <result column="after_salary" property="afterSalary" />
        <result column="reason" property="reason" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <resultMap id="SalaryAdjust" type="com.example.rbac.pojo.SalaryAdjust" extends="BaseResultMap">
        <association property="employee" javaType="com.example.rbac.pojo.Employee">
            <id column="eid" property="id" />
            <result column="ename" property="name" />
            <result column="ework_id" property="workId" />
            <association property="department" javaType="com.example.rbac.pojo.Department">
                <result column="dep_name" property="name" />
            </association>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, employee_id, as_date, before_salary, after_salary, reason, remark, is_delete, gmt_create, gmt_modified
    </sql>

<!--    获取所有员工调薪信息-->
    <select id="getAllSalaryAdjust" resultMap="SalaryAdjust">
        SELECT
            sa.*, e.id AS eid,
            e.`name` AS ename,
            e.work_id AS ework_id,
            dep.`name` AS dep_name
        FROM
            t_salary_adjust sa,
            t_employee e,
            t_department dep
        WHERE
            e.id = sa.employee_id
        AND e.is_delete = FALSE
        AND sa.is_delete = FALSE
        AND e.department_id = dep.id
        <if test="null!=depId">
            AND dep.id = #{depId}
        </if>
        <if test="null!=localDate and ''!=localDate">
            AND date_format(sa.as_date,'%Y-%m-%d') LIKE CONCAT('%',#{localDate},'%')
        </if>
        ORDER BY e.id
    </select>
</mapper>
